# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform plans
*.tfplan
plan.txt

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Kubernetes
*.kubeconfig
